<p><strong>{{costName}}: </strong>
{{costDescription}}. Amount: ${{costCost}}. Purchased: {{costPurchased}}<button class="button secondary edit-cost-button" id={{costId}}>Edit</button><button class="button delete-cost-button alert" id={{costId}}>Delete</button></p>