{{!-- <tr>
  <td>{{{name}}}</td>
  <td>{{location}}</td>
  <td>{{date}}</td>
  <td>{{host}}</td>
</tr> --}}

<div class="card">
  <div class="card-divider">
    <h4>Event: {{name}}</h4>
  </div>
  {{!-- <img src="assets/img/generic/rectangle-1.jpg"> --}}
  <div class="card-section">
    <h6><strong>Location:</strong> {{location}}</h6>
    <h6><strong>Date:</strong> {{date}}</h6>
    <h6><strong>Host:</strong> {{host}}</h6>
    <h6><strong>Collaborators:</strong> {{collaborators}}</h6>
    <h6><strong>Tasks:</strong> {{tasks}}</h6>
    <h6><strong>Costs:</strong> {{costs}}</h6>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis incidunt repellat corporis soluta eum illum?</p>
  </div>
</div>



{{!-- 
<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li> --}}