{{!-- <tr>
  <td>{{{name}}}</td>
  <td>{{location}}</td>
  <td>{{date}}</td>
  <td>{{host}}</td>
</tr> --}}

<div class="card" style="width: 33.33333%">
  <div class="card-divider">
    Event: {{name}}
  </div>
  {{!-- <img src="assets/img/generic/rectangle-1.jpg"> --}}
  <div class="card-section">
    <h4>Location: {{location}}</h4>
    <h4>Date: {{date_time}}</h4>
    <h4>Host: {{id}}</h4>
    <p>{{description}}</p>
  </div>
</div>



{{!-- 
<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li> --}}