<p><strong>{{taskName}}: </strong>
{{taskDescription}}. Completed: {{taskCompleted}}. <button class="button edit-task-button" id={{taskId}}>Edit</button><button class="button delete-task-button" id={{taskId}}>Delete</button></p>