<h2>Update {{name}}</h2>
<form class="update-form" id={{id}}>
  <div class="form-group">
    <label for="update-name">Rename your event: </label>
    <input type="text" id="update-name" name="update-event" placeholder="{{name}}">
  </div>
  <div class="form-group">
    <label for="update-desc">Edit Event Description: </label>
    <textarea id="update-desc" name="update-event" rows="5" columns="40" placeholder="{{description}}"></textarea>
  </div>
  <div class="form-group">
    <label for="update-location">Edit Event Location: </label>
    <input type="text" id="update-location" name="update-event" placeholder="{{location}}">
  </div>
  <div class="form-group" style="display: flex; justify-content: start;">
    <div style="width: 40%; margin-right: 5%;">
      <label for="update-date">Change Event Date (currently on {{event_date}}): </label>
      <input type="date" id="update-date" name="update-event">
    </div>
    <div style="width: 40%;">
      <label for="update-time">Change Event Time (currently at {{event_time}}): </label>
      <input type="time" id="update-time" name="update-event">
    </div>
  </div>
  <button class="button" id={{id}} type="submit">Update event</button>
</form>
<br>

<h4>Add a task for {{name}}</h4>
<form class="create-tasks" id={{id}}>
  <div class="form-group" style="display: flex; justify-content: start;">
    <div style="width: 40%; margin-right: 5%;">
      <label for="update-task-title">Task name: </label>
      <input type="text" id="update-task-title" name="update-tasks" placeholder="Task Title, e.g. purchase paper plates">
    </div>
    <div style="width: 40%;">
      <label for="update-task-body">Task description: </label>
      <input type="text" id="update-task-body" name="update-tasks" placeholder="Task description, e.g. 40 large paper plates, 20 small paper plates">
    </div>
  </div>
  <button class="button" id={{id}} type="submit">Submit tasks</button>
</form>
<br>

<h4>Add a cost for {{name}}</h4>
<form class="create-costs" id={{id}}>
  <div class="form-group" style="display: flex; justify-content: start;">
    <div style="width: 40%; margin-right: 5%;">
      <label for="update-cost-title">Cost name: </label>
      <input type="text" id="update-cost-title" name="update-costs" placeholder="Cost Title, e.g. purchase paper plates">
    </div>
    <div style="width: 40%;">
      <label for="update-cost-desc">Cost Description: </label>
      <input type="text" id="update-cost-desc" name="update-costs" placeholder="Actual cost, e.g. 15">
    </div>
  </div>
  <div class="form-group" style="display: flex; justify-content: start;">
    <div style="width: 40%; margin-right: 5%">
      <label for="update-cost-amount">Cost amount: </label>
      <input type="number" id="update-cost-amount" name="update-costs" placeholder="Actual cost, e.g. 15">
    </div>
    <div style="width: 40%;">
      <label for="update-cost-purchased">Purchased?</label>
      <input type="radio" name="update-cost-purchased" value="1">
      <label for="1">Yes</label>
      <br>
      <input type="radio" name="update-cost-purchased" value="0">
      <label for="0">No</label>
    </div>
  </div>
  <button class="button" id={{id}} type="submit">Submit costs</button>
</form>
<br>




{{!-- add collaborator --}}
<h4>Add a collaborator</h4>
<form id="add-collab">
  <div class="form-group">
    <label for="new-collab-name">New Collaborator Name: </label>
    <input type="text" id="new-collab-name" name="add-collab" placholder="">
  </div>
  <div class="form-group">
    <label for="new-collab-email">New Collaborator Email: </label>
    <input type="email" id="new-collab-email" name="add-collab" placholder="">
  </div>
  <button class="button" type="submit">Send Invitation!</button>
</form>



{{!-- <style media="screen">
  li {
    background-color: wheat;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    font-family: sans-serif;
  }
</style>

<h1>Lunches for {{eater}}</h1>

<ul>
{{#each foods }}
  <li>{{lunch}}</li>
{{/each}}
</ul>
 --}}