<h2>Update {{name}}</h2>
<form class="create-form" id="update-event">
  <div class="form-group">
    <label for="update-name">Rename your event: </label>
    <input type="text" id="update-name" name="update-event" placeholder="{{name}}">
  </div>
  <div class="form-group">
    <label for="update-desc">Edit Event Description: </label>
    <textarea id="update-desc" name="update-event" rows="5" columns="40" placeholder="{{description}}"></textarea>
  </div>
  <div class="form-group">
    <label for="update-location">Edit Event Location: </label>
    <input type="text" id="update-location" name="update-event" placeholder="{{location}}">
  </div>
  <div class="form-group" style="display: flex; justify-content: start;">
    <div style="width: 40%; margin-right: 5%;">
      <label for="update-date">Change Event Date (currently on {{date}}): </label>
      <input type="date" id="update-date" name="update-event">
    </div>
    <div style="width: 40%;">
      <label for="update-time">Change Event Time (currently at {{time}}): </label>
      <input type="time" id="update-time" name="update-event">
    </div>
  </div>
  <button class="button" type="submit">Update event</button>
</form>
<br>

{{!-- add collaborator --}}
<form id="add-collab">
  <div class="form-group">
    <label for="new-collab-name">New Collaborator Name: </label>
    <input type="text" id="new-collab-name" name="add-collab" placholder="">
  </div>
  <div class="form-group">
    <label for="new-collab-email">New Collaborator Email: </label>
    <input type="email" id="new-collab-email" name="add-collab" placholder="">
  </div>
  <button class="button" type="submit">Send Invitation!</button>
</form>



{{!-- <style media="screen">
  li {
    background-color: wheat;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    font-family: sans-serif;
  }
</style>

<h1>Lunches for {{eater}}</h1>

<ul>
{{#each foods }}
  <li>{{lunch}}</li>
{{/each}}
</ul>
 --}}