<h2>Update {{name}}</h2>
<form class="create-form" id="update-event">
  <div class="form-group">
    <label for="event-rename">Rename your event: </label>
    <input type="text" id="new-name" name="update-event" placholder="{{name}}">
  </div>
    <div class="form-group">
    <label for="event-desc">Edit Event Description: </label>
    <textarea id="new-desc" name="update-event" rows="5" columns="40" placeholder="{{description}}"></textarea>
  </div>
    <div class="form-group">
    <label for="event-location">Edit Event Location: </label>
    <input type="text" id="new-location" name="update-event" placeholder="{{location}}">
  </div>
  {{!-- <div class="form-group">
    <label for="event-date-change">Change the date: </label>
    <input type="date" id="event-date-change" name="update-event">
  </div> --}}
   <div class="form-group" style="display: flex; justify-content: start;">
    <div style="width: 40%; margin-right: 5%;">
    <label for="event-date">Change Event Date: </label>
    <input type="date" id="new-date" name="event-date">
    </div>
    <div style="width: 40%;">
    <label for="event-time">Change Event Time: </label>
    <input type="time" id="new-time" name="event-time">
    </div>
  </div>
  
  <button type="submit">Submit Changes</button>
</form>
<br>

<h2>Add Collaborators:</h2>
<form id="add-collab">
 <div class="form-group">
    <label for="collab-name">Enter Name: </label>
    <input type="text" id="event-rename" name="update-event" placholder="{{name}}">
  </div>
 <div class="form-group">
    <label for="collab-email">Enter Email: </label>
    <input type="email" id="event-rename" name="update-event" placholder="{{name}}">
  </div>



</form>
{{!-- <style media="screen">
  li {
    background-color: wheat;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    font-family: sans-serif;
  }
</style>

<h1>Lunches for {{eater}}</h1>

<ul>
{{#each foods }}
  <li>{{lunch}}</li>
{{/each}}
</ul>
 --}}